<div class="row">
    <h2>Hard & Soft Skills</h2>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="87"
        [radius]="90"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="90"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#f57520'"
        [innerStrokeColor]="'#e1dce3'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="90"
        [imageSrc]="'../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="75"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#2079f5'"
        [innerStrokeColor]="'#e1dce3'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="90"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#e3d91e'"
        [innerStrokeColor]="'#e1dce3'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [imageSrc]="'../assets/office.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#f7501e'"
        [innerStrokeColor]="'#e1dce3'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="80"
        [imageSrc]="'../assets/ps.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#1bbbf5'"
        [innerStrokeColor]="'#e1dce3'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>   
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="80"
        [imageSrc]="'../assets/grupal.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#080808'"
        [innerStrokeColor]="'#e1dce3'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>   
</div>