.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    margin-right: 0,5sem;
}
#logoAP{
    width: 160px;
}
img{
    width: 33px;
    margin-right: 10px;
}
.btn{
    border-width: 2px;
}

/*para la vista de celular*/
@media(max-width: 575px){
    .container{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
