<div class="row">
    <h2>Experiencia Laboral</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul><br>
            <li>
                <h3>Voolkia Software & Services</h3><h5>(2022)</h5>
                </li>
                <p>Catalogacion Web Para Cencosud</p>
                <p>Manejo Avanzado de Excel</p>
                <p>Manejo de VTEX</p>
                <p>Manejo de SAP</p>
                <p>Frecuente uso de HTML</p>
            <li>
                <h4>NS Galletas</h4><h5>(2021)</h5>
                </li>
                <p>Empaquetador</p>
                <p>Armador de Cajas</p>
                <p>Uso del Software de Envasadora</p>
                <li>
                    <h4>NetMart SA</h4><h5>(2020)</h5>
                    </li>
                    <p>Telemarketing</p>
        </ul>
    </div>
</div>