<div class="row">
    <h2>Educacion</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul><br>
            <li>
            <h3>Inti Huasi</h3><h5>(Finalizado - 2015)</h5>
            </li>
            <p>Nivel: Primario</p>
            <p>Nivel: Secundario (hasta 3 año)</p>
            <li>
                <h3>Martin Miguel De Güemes Media 3</h3><h5>(Finalizado - 2020)</h5>
                </li>
                <p>Nivel: Secundario</p>
                <p>Titulo: Bachiller en Ciencias Sociales</p>
                <li>
                    <h3>Instituto Superior de Formación Técnica n°172</h3><h5>(Abandonado - 2022)</h5>
                    </li>
                    <p>Nivel: Terciario</p>
                    <p>Titulo: Analista de Sistemas de Informacion</p>
        </ul>
    </div>
</div>